@import url("./font.css");

body {
    background-color: #eff1d7;
    height: 100%;
}

.navbar {
    background-color: #30911a;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 2px gray;
    font-family: 'TTHakgyoansimDotbogiR';
}

.navbar-brand {
    font-size: 1.8rem;
}

.navbar-brand:hover {
    color: lightgray;
    cursor: pointer;
}

nav>a {
    color: #eff1d7;
    font-size: 1.5rem; /* 텍스트 크기 조정 */
}

nav>a:hover {
    color: #257213;
}

#guestBookBtn, #HomeBtn {
    border: 2px solid #eff1d7;
    color: #eff1d7;
    font-size: 1.5rem; /* 버튼 텍스트 크기 조정 */
    padding: 0.5rem 1rem; /* 버튼 내부 여백 조정 */
    margin-right: 20px;
}

#HomeBtn:hover {
    color: lightgray;
}

