@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    /* font-weight: 800; */
    font-style: normal;
}   

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.contents {
    width: 85%;
    margin: 0 auto 0 auto;
}

.profile {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

.profileImgSec {
    width: 50%;
    margin: 3rem 0 0 1.5rem;
}

.profileImg {
    width: 16rem;
    height: 16rem;
    border: 5px solid #257213;
    border-color: #30911a;
    border-radius: 70%;
    overflow: hidden;
    margin: auto;
    box-shadow: 2px 2px 2px gray;
}

.profileImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.profileText {
    width: 50%;
    margin-top: 6rem;
    padding-right: 9rem;
    font-family: "GmarketSansMedium";
} 


#memberName {
    font-size: 2.5rem;
    font-weight: 800;
    margin-right: 2rem;
}

.line1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2rem;
    align-items: end;
}

#editBtn {
    color: gray;
    text-decoration: underline;
}

.line2 {
    margin: 1rem 0 1rem 0;
}

.line2 span {
    font-family: "intelone-mono-font-family-regular";
    background-color: #1F1F1F;
    font-size: 1.4rem;
    color: #61bd4c;
    border-radius: 5px;
    padding: 0 0.5rem 0.3rem 0.5rem;
    text-align: center;
}

.urlBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.url {
    width: 2.8em;
    height: 2.8rem;
    overflow: hidden;
    margin: 0.6rem;
}

.url img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#onelineBio {
    font-size: 1.3rem;
}

.longContent {
    width: 70%;
    margin: 4rem auto 5rem auto;
    font-family: "GmarketSansMedium"
}

.longContent .segment {
    background-color: #52a240;
    font-family: "GmarketSansMedium";
    font-size: 1.6rem;
    padding: 1rem 1rem 1rem 1.6rem;
    border-radius: 5px;
    color: #eff1d7;
    margin-top: 1rem;
}

.segmentText {
    font-size: 1.3rem;
    padding: 1.3rem;
}

.segmentText2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.number {
    width: 2rem;
    height:2rem;
    color: #eff1d7;
    background-color: #52a240;
    border-radius: 5px;
    text-align: center;
    padding: 0.1rem 0;
    margin-right: 1rem;
}

